@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?79o89');
    src:  url('../fonts/icomoon.eot?79o89#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?79o89') format('truetype'),
      url('../fonts/icomoon.woff?79o89') format('woff'),
      url('../fonts/icomoon.svg?79o89#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-basket:before {
    content: "\e900";
    color: #bdc3c7;
  }
  .icon-inform:before {
    content: "\e901";
    color: #bdc3c7;
  }
  .icon-rating:before {
    content: "\e902";
    color: #bdc3c7;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1000px;
    font-family: 'Lato', sans-serif;
    background-color: #292d3e;
}

/* jquary style */

.js-div-notactive {
    display: none;
}

.js-div-active {
    display: block;
}

/* End jquary style */

a {
    text-decoration: none;
}

.background-img {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.87;
}

.grid {
    width: 600px;
    margin: 0 auto;
}

.card {
    padding: 145px 0 175px;
}

.card-list {
    padding: 0 47px;
    list-style: none;
    background-color: #2b3040;
}

.list__item {
    display: inline-block;
    padding: 35px 20px;
    font-size: 14px;
}

.list__link:first-child {
    margin-left: 0;
}

.list__link:last-child {
    margin-right: 0;
}

.list__link {
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    color: #b7bacd;
    border-bottom: 2px solid transparent;
}

.icon-inform,
.icon-rating,
.icon-basket {
    display: block;
    margin-bottom: 10px;
    font-size: 21px;
    text-align: center;
}

.isactive:before {
    color: #fff;
}

.list__link--active{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.list__link:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.card-box {
    display: flex;
    padding: 60px 40px;
    background-color: #212534;
}

.card__image {
    margin-bottom: 25px;
}

.left-box {
    padding-right: 20px;
}

.right-box {
    padding-left: 20px;
    color: #fff;
}

.rating__list {
    text-align: center;
    list-style: none;
}

.rating__item {
    margin: 0 2px;
    display: inline-block;
}

.card__title {
    padding-bottom: 15px;
}

.card__subtitle {
    padding-bottom: 45px;
}

.card__discription {
    padding-bottom: 65px;
}

.card__bottom {
    display: flex;
    align-items: center;
}

.card__price,
.card__btn {
    width: 50%;
}

.card__price {
    font-size: 30px;
}

.discont {
    display: block;
    font-size: 12px;
    color: #f4d33e;
}

.card__button {
    padding: 22px 32px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #13e28d;
    color: #fff;
}