//variablel

//fonts

$basic-font: 'Raleway', sans-serif;
$font-pacifico: 'Pacifico', cursive;

//font-size

$basic-size: 17px;
$size-h1: 60px;
$size-h2: 90px;
$size-h3: 40px;
$size-h4: 17px;
$size-btn: 20px;

//color

$color-black: #262626;
$color-white: #ffffff;
$color-orange: #ff6033;
$color-blue: #70bfff;
$color-gray: #ccc;
$color-yellow: #ffe92f;
$color-blue_1: #00c4c4;
$color-blue-hover: #5585a2;
$color-green: #96b92c;
$color-purple: #b07cf7;
$color-black_transparent: rgba(0, 0, 0, 0.5);
$color-red: #f72b3b;
$gradien:  linear-gradient(to right, rgba(0,196,196,0.9) 0%,rgba(0,183,183,0.9) 32%,rgba(0,173,173,0.9) 68%,rgba(0,156,156,0.9) 100%);

//shadow

$btn-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
$gallery-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5); 