.services {
	background-color: $color-blue;
	background-image: url('../img/services_bg.png');
	background-repeat: no-repeat;
    background-position: 956px 101px;

    &__button {
        padding: 0 70px 0 100px;
    }
    
    &__title {
        text-align: right;
        color: $color-white;
    }
}

.row-services {
	padding: 143px 0;
	justify-content: space-around;
}

.services-btn {
	width: 100%;
    padding: 25px 0;
    margin: 16px 0 7px;
	display: inline-flex;
	text-align: center;	
	align-items: center;
	font-size: $size-btn;
	font-weight: 700;
	line-height: 1.15;
	text-transform: capitalize;
	color: $color-black;
	background-color: $color-white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    
    &:hover {
        box-shadow: none;
    }

    &__icon {
        width: 47px;
        height: 43px;
    }
}